:root {
  --color-dark: #09484d;
  --color-light: #f7fdfd;
  --color-contrast: rgb(92, 166, 202);
  --color-voice: #e1762f;
  --color-voice-alt: #c18573;
  --color-voice-alt2: #937c00;
  --color-contribution: #96bfa0;

  --border-color: #09484d;
  --font-color: #09484d;

  --font-size--header: 26px;
  --font-size--bigger: 19px;
  --font-size--normal: 14px;
  --font-size--smaller: 12px;

  --line-height--bigger: 26px;
  --line-height--normal: 19px;

  --font-size: var(--font-size--normal);
  --line-height: var(--line-height--normal);
}

body {
  margin: 0;
  padding: 0;
}
#container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.item {
  position: relative;
  flex-grow: 1;
  border: 2px solid var(--color-dark);
  display: flex;
  flex-direction: column;
}
.gallery {
  padding: 20px;
  /* grid-column: span 2; */
}
.gallery--image {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.gallery--image--container {
  width: 100%;
  height: 200px;
  image-rendering: pixelated;
}

.gallery--image--container img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
  mix-blend-mode: lighten;
}

.gallery--image--container img:hover {
  mix-blend-mode: overlay;
  cursor: zoom-in;
}

.gallery--image-caption {
  margin: 2px 0px 0px 0px;
  font-size: var(--font-size--smaller);
}

.voice {
  border-color: var(--color-voice);
  color: var(--color-voice);
}
.voice .gallery--image--container {
  background-color: currentColor;
}

/* Style the Image Used to Trigger the Modal */

/* The Modal (background) */
.modal {
  top: 5%;
  left: 5%;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 90%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: var(--color-light); /* Black w/ opacity */
  border: 2px solid var(--border-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* Modal Content (Image) */
.modal-content {
  max-height: 90%;
  max-width: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modalCaption {
  max-width: 70%;
  text-align: right;
  color: var(--font-color);
  font-size: var(--font-size--normal);
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.modalNav {
  position: absolute;
  color: var(--font-color);
  font-size: var(--font-size--header);
  font-weight: bold;
  transition: 0.3s;
}
.close {
  top: 5px;
  right: 20px;
  z-index: 2;
}

.arrow {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  left: 20px;
}

.rightArrow {
  right: 20px;
}

.modalNav:hover,
.modalNav:focus {
  color: var(--color-contrast);
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } */
