html {
  font-size: 20px;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: #09484d;
  background-color: #f7fdfd;
}

aside {
  flex: 1;
  max-width: 60ch;
  /* margin: 0 1rem; */
  padding: 0 1rem;
  overflow: auto;
  font-size: 1.2rem;
  color: #02225b;
}
main {
  flex: 2;
  padding: 0 2rem;
  /* margin: 0 2rem; */
  overflow: auto;
}
article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 120ch;
  column-gap: 2rem;
  margin-right: 2rem;
}
header {
  grid-column-end: span 2;
}
footer {
  grid-column-end: span 2;
  height: auto;
  padding-bottom: 2rem;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

a {
  color: currentColor;
}

a:hover {
  color: #4fcad2;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
img {
  max-width: 95%;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  body {
    display: block;
    overflow: auto;
  }
  article {
    display: block;
    margin: 0;
  }
  main,
  aside {
    padding: 0 1.5rem 0 1rem;
  }
}
