/* 
color: #96bfa0;
color: #e14e2f;
color: #ad5706;
*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    color: #09484dff;
    font-family: "Inter", sans-serif;
    background-color: #f7fdfdff;
    grid-template-areas:
        "header"
        "aside"
        "container";
    gap: 10px;
    /* overflow: hidden; */
    /* background-image: url(tile.png); */
    /* background-repeat: repeat; */
}

h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 10px 0;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    /* filter: url(#titleNoise); */
}

h3 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    color: #00aaffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* font-size: 14px; */
}

svg {
    width: 0;
    height: 0;
}

/* --------------- */

header {
    grid-area: header;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #09484dff;
}

#nav--titles {
    display: flex;
    align-items: center;
}

#nav--titles-repulse {
    display: flex;
    align-items: center;

    padding: 0 20px;
    height: 100%;

    background-color: #09484dff;
    color: #f7fdfdff;

    font-size: 1.3rem;
    font-weight: 600;
}

#nav--titles-asfts {
    display: flex;
    align-items: center;

    padding: 0 20px;
    height: 100%;

    background-color: #f7fdfdff;
    color: #09484dff;

    font-size: 1.3rem;
    font-weight: 600;
}

#nav--buttons {
    display: flex;
}

#nav--buttons li {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav--buttons li:hover a {
    color: #00aaffff;
}

#nav--buttons a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #09484dff;
}

/* --------------- */

aside {
    grid-area: aside;
    /* width: 150px; */
    padding: 0 5px;
}

aside ul {
    display: flex;
    /* justify-content: flex-end; */
    gap: 10px;
}

aside ul li {
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #09484dff;
}

aside ul li:hover a {
    color: #00aaffff;
}

aside ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #09484dff;
}

/* --------------- */

.selected {
    background-color: #00aaffff !important;
}

.selected a {
    color: #f7fdfdff !important;
}

/* --------------- */

#container {
    grid-area: container;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-flow: auto;
    gap: 10px;

    /* margin: 0 10px; */
    /* border: 2px solid #09484dff; */
    border-top: 2px solid #09484dff;
    padding: 10px;
}

/* --------------- */

.item {
    position: relative;
    flex-grow: 1;
    border: 2px solid #09484dff;
    display: flex;
    flex-direction: column;
}

.item--page--title {
    grid-column: span 2;
    padding: 20px;
    border: none;
}

#page--title {
    margin: 0 0 10px 0;
    /* filter: url(#titleNoise); */
    font-size: 2rem;

}

#page--date {
    margin: 0 0 10px 0;
    font-size: 1.3rem;

}

#page--subtitle {
    margin: 0;
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

.item--pad {
    grid-column: span 2;
    grid-row: span 2;
}

.item--video {
    grid-column: span 2;
}

.item--image--container {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.item--image--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
}

.item--image--container img:hover {
    mix-blend-mode: multiply;
    cursor: pointer;
}

.item--text {
    font-size: 1rem;
    padding: 20px;
}

.item--description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-width: 70ch;
    padding: 0 20px 0 20px;
    margin: 0 0 10px 0;

    font-size: 0.8rem;
}

.item--expansion {
    padding: 0 20px 20px 20px;

    text-align: right;
    font-size: 0.8rem;
}

.item--tag {
    width: 10%;
    font-size: 0.8rem;
}

.item--title {
    position: absolute;
    color: #f7fdfdff;
    width: 100%;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 3px #666);
}

.voice {
    border-color: #e14e2f;
}

.voice .item--description {
    color: #e14e2f;
}

.voice-image {
    background-color: #e14e2f;
}

.contribution {
    border-color: #96bfa0;
}

.contribution .item--description {
    color: #96bfa0;
}

.contribution-image {
    background-color: #96bfa0;
}

/* --------------- */

.internal--link--voice {
    color: #e14e2f;
    /* background-color: #e14e2f; */
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #e14e2f;
    padding: 0px 3px;
}

.internal--link--voice:hover {
    color: #f7fdfdff;
    /* background-color: #e14e2f; */
    background-color: #e14e2f;
}