* {
  box-sizing: border-box;
}


:root {
  --color-dark: #09484d;
  --color-light: #f7fdfd;
  --color-contrast: rgb(92, 166, 202);
  --border-color: #09484d;
  --font-color: #09484d;

}

html, body {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.35;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 10px;
  /* gap: 10px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: url(tile.png); */
  /* background-repeat: repeat; */

}
h1 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  letter-spacing: 1px;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  /* filter: url(#titleNoise); */
}
h3 {
  margin-top: 0;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: var(--color-contrast);
}
svg{
  width: 0;
  height: 0;
}

/* --------------- */

nav {
  /* max-width: 380px; */
  /* height: 100%; */
  /* background-color: #f7fdfdff; */
  /* justify-content: space-between; */
  /* border: 2px solid var(--border-color); */
}

#nav--repulse {
  padding: 10px;
  background-color: var(--color-dark);
  color: var(--color-light);
  align-self: flex-start;
}
#nav--about {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 18px;
}

#nav--buttons {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.nav--button {
	list-style: none;
	margin: 0;
	display: flex;
	align-items: center;
	/* padding: 10px; */
	font-weight: 500;
	/* border-top: 2px solid #09484dff; */
	padding: 0 10px;
}

.nav--button.active {
  text-decoration: underline;
}

.nav--button:hover {
  color: var(--color-contrast);
  text-decoration: underline;
}

.nav--button:active {
  color: #f7fdfdff;
  background-color: var(--color-contrast);
}

/* --------------- */

#container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  gap: 10px;
}

/* --------------- */

.section {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  gap: 10px;
  border: 2px solid var(--border-color);
}

.section--title {
  color: var(--color-dark);
  margin: 0 20px 0 0;
}

/* --------------- */

.item-container {
  /* background: #f7fdfdff; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: flex-start;
  gap: 10px;
  overflow: hidden;
  flex: 1 1;
}
.item{
  border: 2px solid var(--border-color);
  padding: 10px;
  flex-shrink: 0;
  /* height: auto; */
  /* background-color: #f7fdfdff; */
  display: flex;
  flex-direction: column;
}
.item img{
  mix-blend-mode: multiply;
  max-height: 100%;
  width: 100%;
}
.item-expansion {
  color: var(--color-dark);
  text-align: right;
}

.item--voice {
	max-width: 100%;
	flex: 1 1;
	display: grid;
	grid-template-rows: 1fr 1fr min-content;
	/*! max-height: 100%; */
	/*! height: 100%; */
	overflow: hidden;
	grid-row-gap: 5px;
}
.item--voice p {
	overflow: hidden;
  margin-bottom: 0;
}
.item--voice img {
	object-fit: cover;
}

.section--horizontal,
.section--vertical {
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}

.section--vertical {
  flex-direction: column;
}

.no-border {
  border: none;
  padding: 0;
}

.scrollable {
  overflow-y: auto;
}

.scrollable > .item-container {
  overflow: initial;
}

.text {
  max-width: 75ch;
}

header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	border: 2px solid var(--color-dark);
	border-bottom: none;
}

h1 {
	padding: 10px;
	background: var(--color-dark);
	color: var(--color-light);
}

header > h2 {
	padding: 10px;
	border-right: 2px solid var(--color-dark);
	font-size: 18px;
}

.nav--button h2 {
	font-size: 14px;
}