/* 
color: #96bfa0;
color: #e14e2f;
color: #ad5706;
*/

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  color: #09484dff;
  font-family: "Inter", sans-serif;
  background-color: #f7fdfdff;
  grid-template-areas:
    "nav nav"
    "aside container";
  gap: 10px;
  /* overflow: hidden; */
  /* background-image: url(tile.png); */
  /* background-repeat: repeat; */
}
h1 {
  font-weight: 600;
  font-size: 28px;
  margin: 10px 0 10px 0;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  /* filter: url(#titleNoise); */
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #00aaffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
svg {
  width: 0;
  height: 0;
}

/* --------------- */

nav {
  grid-area: nav;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #09484dff;
}

#nav--titles {
  display: flex;
  align-items: center;
}
#nav--titles-repulse {
  background-color: #09484dff;
  color: #f7fdfdff;
  padding: 0 20px;
  height: 100%;
}
#nav--titles-asfts {
  background-color: #f7fdfdff;
  color: #09484dff;
  padding: 0 20px;
  height: 100%;
}

#nav--buttons {
  display: flex;
}

#nav--buttons li {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav--buttons li:hover a {
  color: #00aaffff;
}

#nav--buttons a {
  text-decoration: none;
  font-size: 18px;
  color: #09484dff;
}

/* --------------- */

aside {
  grid-area: aside;
  width: 150px;
  padding: 0 5px;
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside ul li {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #09484dff;
}

aside ul li:hover {
  color: #00aaffff;
}

/* --------------- */

#container {
  grid-area: container;
  /* max-width: 100%; */
  /* height:max-; */
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px solid #09484dff;
  padding: 10px;
}
.page--title {
  width: 100%;
  padding: 0;
}
/* --------------- */

.section {
  border: 2px solid #09484dff;
  padding: 18px;

  width: calc(50% - 10px);

  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* justify-content: start; */
  justify-self: start;
  align-self: start;
}

.section--title {
  color: #09484dff;
  margin: 0 0 10px 0;
}
.section--title h2 {
  margin: 0;
  text-transform: uppercase;
}
.section--subtitle {
  padding-left: 20px;
  max-width: 45ch;
  margin: 0;
  font-weight: 500;
}

/* --------------- */

.item-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  width: 49%;
  flex-grow: 1;
  border: 2px solid #09484dff;
  display: flex;
  flex-direction: column;
}
.item--image--container {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.item--image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

/* .item--gallery {
  max-height: 450px;
  object-fit: cover;
} */

.item--text {
  font-size: 20px;
  padding: 20px;
}
.item--description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-width: 70ch;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;

  font-size: 1rem;
}

.item--expansion {
  padding: 0 20px 20px 20px;

  text-align: right;
  font-size: 14px;
}
.item--head {
  width: 100%;
}
.item--head * {
  height: 100%;
  width: 100%;
  margin: 0;
}
.item--tag {
  width: 10%;
  font-size: 14px;
}

.voice {
  border-color: #e14e2f;
}
.voice * {
  border-color: #e14e2f;
  color: #e14e2f;
}
.voice-image {
  background-color: #e14e2f;
}
.contribution {
  border-color: #96bfa0;
}
.contribution * {
  border-color: #96bfa0;
  color: #96bfa0;
}

.contribution-image {
  background-color: #96bfa0;
}
