/* 
color: #96bfa0;
color: #e14e2f;
color: #ad5706;
*/

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  color: #09484dff;
  font-family: "Inter", sans-serif;
  background-color: #f7fdfdff;
  grid-template-areas:
    "nav nav"
    "aside container";
  gap: 10px;
  /* overflow: hidden; */
  /* background-image: url(tile.png); */
  /* background-repeat: repeat; */
}
h1 {
  font-weight: 600;
  font-size: 28px;
  margin: 10px 0 10px 0;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  /* filter: url(#titleNoise); */
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #00aaffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
}
svg {
  width: 0;
  height: 0;
}

/* --------------- */

header {
  grid-area: nav;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #09484dff;
}

#nav--titles {
  display: flex;
  align-items: center;
}
#nav--titles-repulse {
  display: flex;
  align-items: center;

  padding: 0 20px;
  height: 100%;

  background-color: #09484dff;
  color: #f7fdfdff;

  font-size: 20px;
  font-weight: 600;
}
#nav--titles-asfts {
  display: flex;
  align-items: center;
  
  padding: 0 20px;
  height: 100%;
  
  background-color: #f7fdfdff;
  color: #09484dff;
  
  font-size: 20px;
  font-weight: 600;

}

#nav--buttons {
  display: flex;
}

#nav--buttons li {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav--buttons li:hover a {
  color: #00aaffff;
}

#nav--buttons a {
  text-decoration: none;
  font-size: 18px;
  color: #09484dff;
}

/* --------------- */

aside {
  grid-area: aside;
  width: 150px;
  padding: 0 5px;
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside ul li {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #09484dff;
}

aside ul li:hover {
  color: #00aaffff;
}

/* --------------- */

#container {
  grid-area: container;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: 2px solid #09484dff;
  padding: 10px;
}
.page--title {
  grid-column: span 4;
}

/* --------------- */

.item {
  position: relative;
  flex-grow: 1;
  border: 2px solid #09484dff;
  display: flex;
  flex-direction: column;
}
.item--pad {
  grid-column: span 2;
  grid-row: span 2;
}

.item--video {
  grid-column: span 2;
}

.item--image--container {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.item--image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

.item--text {
  font-size: 20px;
  padding: 20px;
}
.item--description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-width: 70ch;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;

  font-size: 1rem;
}

.item--expansion {
  padding: 0 20px 20px 20px;

  text-align: right;
  font-size: 14px;
}

.item--tag {
  width: 10%;
  font-size: 14px;
}
.item--title {
  position: absolute;
  color: #f7fdfdff;
  height: 100%;
  width: 100%;
  z-index: 1;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  filter:drop-shadow(0px 0px 3px #666)
}
.voice {
  border-color: #e14e2f;
  
}
.voice .item--description {
  color: #e14e2f;
}
.voice-image {
  background-color: #e14e2f;
}
.contribution {
  border-color: #96bfa0;
}

.contribution .item--description {
  color: #96bfa0;
}

.contribution-image {
  background-color: #96bfa0;
}


/* --------------- */


.internal--link--voice {
    color: #e14e2f;
    /* background-color: #e14e2f; */
    text-decoration: none;
    border-width: 1px;
    border-style:solid;
    border-color: #e14e2f;
    padding: 0px 3px;
}

.internal--link--voice:hover {
    color: #f7fdfdff;
    /* background-color: #e14e2f; */
    background-color: #e14e2f;
}