* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #09484dff;
  font-family: "Inter", sans-serif;
  background-color: #f7fdfdff;
  /* overflow: hidden; */
  /* background-image: url(tile.png); */
  /* background-repeat: repeat; */
}
h1 {
  font-weight: 600;
  font-size: 28px;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  /* filter: url(#titleNoise); */
}
h3 {
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #00aaffff;
}
ul {
  list-style: none;
  padding: 0 0 0 10px ;
  margin: 0;
  font-size: 14px;
}
svg {
  width: 0;
  height: 0;
}

/* --------------- */

nav {
  max-width: 380px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #09484dff;
}

#nav--repulse {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #09484dff;
  color: #f7fdfdff;
}
#nav--about {
  height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 18px;
}
#nav--about * {
  padding: 10px;
}

#nav--buttons {
  padding: 0;
  margin: 0;
}

.nav--button {
  list-style: none;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 500;
  border-top: 2px solid #09484dff;
}

.nav--button:hover {
  color: #00aaffff;
}

.nav--button:active {
  color: #f7fdfdff;
  background-color: #00aaffff;
}

/* --------------- */

#container {
  /* max-width: 100%; */
  /* height:max-; */
  overflow: auto;
  padding: 20px 20px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

/* --------------- */

.section {
  border: 2px solid #09484dff;
  padding: 18px;

  width: calc(50% - 10px);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;

}

.section--title {
  color: #09484dff;
  margin: 0 0 10px 0;
}
.section--title h2 {
  margin: 0;
  text-transform: uppercase;
}
.section--subtitle{
  padding-left: 20px;
  max-width: 45ch;
  margin: 0;
  font-weight: 500;
}

/* --------------- */

.item-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  width: 49%;
  flex-grow: 1;
  border: 2px solid #09484dff;
  display: flex;
  flex-direction: column;
}
.item--image {
  object-fit: cover;
  flex-shrink: 1;
  height: 200px;
  margin-bottom: 10px;
  mix-blend-mode: multiply;
  margin: 0 0 20px 0;
}

.item--gallery {
  max-height: 450px;
  object-fit: cover;
  margin-bottom: 20px;
  mix-blend-mode: multiply;
}

.item--text {
  font-size: 20px;
  padding: 20px;
}
.item--description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
  max-width: 70ch;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;
  
  font-size: 1rem;
}

.item--expansion {
  padding: 0 20px 20px 20px;

  text-align: right;
  font-size: 14px;
}
.item--head{
  width: 100%;
}
.item--head *{
  height: 100%;
  width: 100%;
  margin: 0;
}
.item--tag {
  width: 10%;
  font-size: 14px;
}
