.textbox{
  width: 400px;
}

.wobblyText{
  filter: url(#bodyNoise);
  /* padding: 20px; */
  /* background-color: red; */
}

h1 {
  filter: url(#titleNoise);
  /* padding: 20px; */
  /* background-color: gold; */
}

svg {
  width: 0;
  height: 0;
  
}
