body {
  padding: 0;
  margin: 0;
  height: 200vh;
  /* overflow: hidden; */
  background-color: #e5d7c9;
  color: #09484d;
  display: flex;
   perspective: 1000px;
  perspective-origin: top;
  /* transform: scale(0.5); */
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
}
.draggable {
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 0px #09484daa; */
  /* border: 1px solid #09484d; */
  background-color: #f7fdfd;
  max-height: 480px;
  max-width: 400px;
  overflow: auto;
  box-sizing: border-box;
}

.draggable:hover {
  cursor: grab;
  z-index: 1;
}

.textbox {
  font-size: 15px;
  line-height: 20px;
  padding: 20px;

}
.textbox > h3 {
  filter: url(#titleNoise);
  padding: 3px 0px 0px 0px;
  margin: 0px 0px 17px 0px;
  font-size: 20px;
}
.textbox > p {
  padding: 5px 0px 0px 20px;
  margin: 0px 0px 15px 0px;
}

.textbox > img {
  width: 100%;
}

.imagebox {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
}

.imagebox > img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
